<div class="col-md-12">
	<form class="navbar-form navbar-left" role="search" ng-submit="funcName =
		partialFuncName">
		<span class="glyphicon glyphicon-search"></span>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Function name"
			ng-model="partialFuncName">
		</div>
		<button type="submit" class="btn
			btn-default">Go</button>
	</form>
</div>
<div class="col-md-1 graphs-menu">
	<ul class="nav nav-pills nav-stacked">
		<li ng-repeat="graph in graphs"
			ng-class="{active: graph.name===selectedGraph.name}"
			role="presentation"
		>
			<a ng-click="selectGraph(graph)">
				{{ graph.name }}
			</a>
		</li>
	</ul>
</div>
<div class="col-md-11">
	<call-graph graph="graphData" func-name="funcName">graph</call-graph>
</div>
<div class="col-md-12" ng-show="selectedGraph !== null">
	<a ng-href="{{selectedGraph.originalFile}}">original data</a>
</div>
