<ng-include src="'views/time-menu.html'"></ng-include>

<span class="glyphicon glyphicon-search"></span> <input ng-model="search.name">
Show last: <input type="number" min="1" ng-model="datapoints">
<div class="selected-chart" ng-if="showBigTest && bigTest !== null">
	<span class="closebutton" ng-click="deselectBigTest()">x</span>
	<h4>{{bigTest.name}}</h4>
	<div ac-chart="chartType" ac-data="bigTest" ac-config="bigTest.config" class="chart" id="bigTest"></div>
</div>

<ul>
	<li class="test-chart-item" ng-repeat="test in tests | filter:search | orderBy:'lastDataPoint':true" ng-click="selectBigTest(test)">
			<h4>{{test.name}}</h4>
			<div ac-chart="chartType" ac-data="test" ac-config="test.config" class="chart" id="test{{$index}}"></div>
		</li>
</ul>
